@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#detach-button-host {
    display: none; /* for removing video popout button in opera*/
}

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --warning-color: #f9c74f;
    --error-color: #d9534f;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%; /* Keep imgs in container */
}

code, pre {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

video {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #555;
    mix-blend-mode: overlay;
}

/* Navbar */
.navbar {
    background: linear-gradient(0.25turn, 
    #f94144,
    #f3722c, 
    #f8961e, 
    #f9c74f 
    );
    background-color: var(--error-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Showcase */
.showcase {
    height: 500px;
    color: #fff;
    position: relative; /* absolute positioning inside */
}

.showcase h1 {
    font-size: 40px;
    color: #f9c74f;
    font-weight: bold;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible; /* removes scrollbar & make absolutely positioned element pop out of its parent */
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    position: relative;
    top: 100px; 
    height: 325px;
    width: 450px;
    padding: 0;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form img {
    border-radius: 10px;
}

.showcase::before, .showcase::after {
    content: ''; /* always add when using ::before/after */
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg); /* chrome & safari */
    -moz-transform: skewY(-3deg); /* firefox */
    -ms-transform: skewY(-3deg); /* microsoft's */
}

/* Stats */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* Atmostphere */
.atmostphere .card {
    background-color: #f8961e;
    color: #fff;
}

.atmostphere .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.atmostphere .grid > *:first-child {
    grid-column: 1 / span 2; /* grid-item size and location*/
    grid-row: 1 / span 3;
}

/* Chef */
.chef {
    background-color: #577590;
    color: #fff;
}

.chef .grid {
    grid-template-columns: 3fr 4fr;
    gap: 30px;
}


/* Food */
.food .flex {
    flex-wrap: wrap;
}

.food .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    color: #fff;
    background-color: #c62133;
}

.food .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.food .card:hover {
    transform: translateY(-15px);
}

/* Features */
.features-head {
    position: relative;
    height: 300px;
    color: #eee;
}

.features-head h1 {
    color: #f9c74f;
    font-weight: bold;
}

.features-head .overlay {
    background-color: #777;
}

.features-head i, .docs-head i {
    justify-self: flex-end;
    color: #d9534f;
}

.features-sub-head img {
    width: 400px;
    justify-self: flex-end;
    border-radius: 90%;
}

.features-main .menu-item {
    padding: 0px; 
    gap: 20px;
    height: auto;
    grid-template-columns: 40% 60%;
    grid-template-columns: repeat(2, 1fr);
}

.features-main .menu-pic img {
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.features-main .menu-text {
    padding-right: 20px;
    align-self: flex-start;
}

.features-main .menu-text h2 {
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #d9534f;
}

/* Docs */
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

/* Footer */
.footer p.author {
    color: #999;
}

.footer .social a {
    margin: 0 10px;
}

.footer nav a {
    text-underline-offset: 0.125em;
}

.footer nav a:hover {
    text-decoration: underline;
}

.fa-github:hover {
    color: #000000;
    transform: scale(1.2);
}

.fa-facebook:hover {
    color: #1773EA;
    transform: scale(1.2);
}

.fa-instagram:hover {
    color: #B32E87;
    transform: scale(1.2);
}

.fa-telegram:hover {
    color: #1C9CEA;
    transform: scale(1.2);
}

.footer .social .fab {
    transition: transform 0.2s ease-out, color 0.3s ease-in-out;
}

.scrollToTopBtn {
    color: var(--error-color);
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .3s ease
}
  
.showBtn {
    opacity: 1;
    transform: translateY(0)
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Tablets & under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .atmostphere .grid,
    .chef .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .stats .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        margin-bottom: 40px;
    }

    .atmostphere .grid > *:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .atmostphere .grid > *:last-child {
        grid-column: span 2;
    }

    .chef {
        padding-top: 1.5rem;    
    }

    /* Other pages */
    .features-head, 
    .features-sub-head,
    .docs-head {
        text-align: center;
        height: auto;
    }

    .features-head i, 
    .features-sub-head img,
    .docs-head i {
        justify-self: center;
    }

    .features-head .container {
        padding: 20px 0 30px;
        color: #555;
        font-weight: bold;
    }

    .features-sub-head .container div, .features-sub-head img {
        padding-bottom: 20px;
    }

    
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .showcase-form {
        animation: slideInFromBottom 1s ease-in;
        width: 100vw;
        height: auto;
    }
    
    .stats .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .atmostphere .grid > * {
        grid-column: span 1 !important;
    }

    .features-main .grid {
        padding: 0;
    }


}